*{
    margin: 0;
    padding: 0;
}
body{
    background: url("OIP (12).jpg");
    background-color: rgb(223, 172, 96);
    background-blend-mode:soft-light;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position:relative;
}

.container{
    margin: 10px;
}
.text{
    color:rgb(11, 11, 12);
    text-align:center;
    font-size: large;
    font:bold;
    margin-top:50px;
    padding-bottom: 60px;
   
}
h1{
    text-decoration: none;
    text-shadow: 44pc;
}
.first .two button{
    margin:33px;
    padding:44px;


}

.btn btn-outline-warning{
    font:bold;
    font-size:12px;
}
